{% extends 'emails/email_base.html' %}
{% load i18n %}

{% autoescape off %}
    {% block email_content %}
        <p>
            {% blocktrans with site=site_name trimmed %}
                You have been sent this email because you (or someone pretending to be you) made a request to reset your password at {{ site }}.
            {% endblocktrans %}
        </p>
        <p>{% trans "If you did not make this request, or you do not wish to change your current password, you may safely ignore this email." %}</p>
        <p>{% trans "If you wish to reset your current password, please visit the following page" %}:</p>
        <p>{{ protocol }}://{{ domain }}{% url 'accounts:password-reset-confirm' uidb64=uid token=token %}</p>

    {% endblock %}

    {% block email_footer %}
        {% blocktrans with site=site_name trimmed %}
            You received this email because you are a registered user at {{ site }}.
        {% endblocktrans %}
    {% endblock %}
{% endautoescape %}
