{% extends 'emails/email_base.html' %}
{% load i18n %}
{% load url from future %}

{% autoescape off %}
    {% block intro %}
        <p>Hi {{ user.first_name }},</p>
    {% endblock %}

    {% block email_content %}
        <p>
            You have been sent this email because you (or someone pretending to be you) made a request to reset your password at {{ site_name }}.
        </p>

        <p>
            If you did not make this request, or you do not wish to change your current password, you may safely ignore this email.
        </p>

        <p>If you wish to reset your current password, please visit the following page:</p>

        <p>
            {{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
        </p>
    {% endblock %}

    {% block email_footer %}
        You received this email because you are a registered user at {{ site_name }}.
    {% endblock %}
{% endautoescape %}
