{% extends 'emails/email_base.html' %}
{% load i18n %}

{% autoescape off %}
    {% block email_content %}
        <p>
            {% blocktrans with site=site_name trimmed %}
                You have been sent this email because you (or someone pretending to be you) tried to set up a new account at {{ site }} using this email address.
            {% endblocktrans %}
        </p>
        <p>{% trans "If this was not you, you may safely ignore this email" %}.</p>
        <p>
            {% blocktrans trimmed %}
                If you wish to reactivate your <em>closed</em> account at this email address, please visit the following page:
            {% endblocktrans %}
        </p>
        <p>{{ url }}</p>

    {% endblock %}

    {% block email_footer %}
        {% blocktrans with site=site_name trimmed %}
            You received this email because you were previously a registered user at {{ site }}.
        {% endblocktrans %}
    {% endblock %}
{% endautoescape %}
