# Heroku expects a "requirements.txt" file, located in 
# the repository's base dir.
# This file simply imports the actual Heroku requirements
# from the project's requirements directory.
-r ./requirements/heroku.txt
