# Some platforms expect a "requirements.txt" file, located in 
# the repository's base dir.
# This file simply imports the actual production requirements
# from the project's requirements directory.
-r ./requirements/production.txt
