// LOGIN PAGE

.login-banner {
    padding: 30px 0 10px 0;
    margin-bottom: 20px;
    background-color: $lightest-grey;
    border-bottom: 1px solid $light-grey;
}

.login-form {
    padding: 12px 0 0 0;
    margin-bottom: 0;

    .field {
        margin-right: 10px;
    }

    label,
    input {
        margin-bottom: 0;
    }

    input[type='text'],
    input[type='password']{
        width: 170px;
    }

    .button {
        margin-top: 21px;
        margin-bottom: 0;
    }

    .forgotton {
        display: inline-block;
        font-size: 12px;
        margin: 6px 10px 0 0;
    }
}

@media only screen and (max-width: 620px) {

    .login-form {
        padding: 0 5% 0 5%;
        margin-bottom: 15px;

        .field {
            display: block;
            float: none;
            padding: 7px 0 2px 0;

            input {
                width: 100%;
            }
        }

        .button {
            margin: 10px 0 5px 0;
            float: none;
        }
    }
}
