// MODERATORS PAGE

.moderators-title {
    height: 15px;
    background: $lightest-grey url(../../img/shadow-bottom.png) repeat-x left bottom;
    border-bottom: 1px solid #ddd;
}

.moderators-menu {
    margin: 30px 0;
    border-top: 1px solid #ddd;

    li {
        margin: 0;
    }

    .ui-state-active a {
        background-color: $lighter-grey;
    }

    .ui-state-hover a {
        background-color: #fafafa;
    }

    a {
        display: block;
        text-decoration: none;
        padding: 15px 10px;
        border-bottom: 1px solid #ddd;

        .badge {
            float: right;
            position: relative;
            top: -3px;
        }
    }
}

.moderator-tab-content {
    margin: 30px 0 30px 30px;
}


@media
only screen and (max-device-width: 1060px)  {

    .invitation-table {
        td:nth-of-type(1):before { content: "Name"; }
        td:nth-of-type(2):before { content: "Email"; }
        td:nth-of-type(3):before { content: "Date Invited"; }
        td:nth-of-type(4):before { content: "Actions"; }
    }

    .logs-table {
        td:nth-of-type(1):before { content: "Date/Time"; }
        td:nth-of-type(2):before { content: "Type"; }
        td:nth-of-type(3):before { content: "Comment"; }
        td:nth-of-type(4):before { content: "Logged Against (User)"; }
        td:nth-of-type(5):before { content: "Logged By (Moderator)"; }
    }
}

