// MODERATORS PAGE

.moderators-title {
    height: 15px;
    background: $lightest-grey url(../../img/shadow-bottom.png) repeat-x left bottom;
    border-bottom: 1px solid #ddd;
}

.moderators-menu {
    margin: 30px 0;
    border-top: 1px solid #ddd;

    li {
        margin: 0;
    }

    .ui-state-active a {
        background-color: $lighter-grey;
    }

    .ui-state-hover a {
        background-color: #fafafa;
    }

    a {
        display: block;
        text-decoration: none;
        padding: 15px 10px;
        border-bottom: 1px solid #ddd;

        .badge {
            float: right;
            position: relative;
            top: -3px;
        }
    }
}

.moderator-tab-content {
    margin: 30px 0 30px 30px;
}


// Tables

.invitation-table,
.review-app-table,
.abuse-table {
    .wrap {
        display: block;
        white-space: wrap;
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
    }

    td.date {
        white-space: nowrap;
    }

    td.comments {
        max-width: 300px;
    }
}

.invitation-table {
    td.email {
        max-width: 300px;
    }

    th.actions,
    td.actions {
        padding-right: 0;
        width: 115px;
    }
}

.review-app-table {
    td.email {
        max-width: 150px;
    }

    th.actions,
    td.actions {
        padding-right: 0;
        width: 135px;
    }
}

.abuse-table {
    td.email {
        max-width: 180px;
    }

    th.actions,
    td.actions {
        padding-right: 0;
        width: 100px;
    }
}

.logs-table {
    td.date {
        white-space: nowrap;
    }

    td.type {
        width: 135px;
    }

    td.comments {
        max-width: 300px;
    }

    th.logged-by,
    td.logged-by {
        padding-right: 0;
    }
}


@media (max-device-width: 1060px) {

    .invitation-table,
    .review-app-table,
    .abuse-table,
    .logs-table {
        overflow: hidden;

        td.email,
        th.actions,
        td.actions,
        td.comments,
        td.type,
        th.logged_by,
        td.logged_by {
            width: auto;
            max-width: 100%;
            padding: auto;
        }

        td.date {
            white-space: normal;
        }

        .wrap {
            display: inline-block;
        }
    }

    .invitation-table {
        td:nth-of-type(1):before { content: "Name"; }
        td:nth-of-type(2):before { content: "Email"; }
        td:nth-of-type(3):before { content: "Date Invited"; }
        td:nth-of-type(4):before { content: "Actions"; }
    }

    .review-app-table {
        td:nth-of-type(1):before { content: "Name"; }
        td:nth-of-type(2):before { content: "Email"; }
        td:nth-of-type(3):before { content: "Date Requested"; }
        td:nth-of-type(4):before { content: "Application Comments"; }
        td:nth-of-type(5):before { content: "Actions"; }
    }

    .abuse-table {
        td:nth-of-type(1):before { content: "Date/Time"; }
        td:nth-of-type(2):before { content: "Complaint made against"; }
        td:nth-of-type(3):before { content: "Complaint made by"; }
        td:nth-of-type(4):before { content: "Comments"; }
        td:nth-of-type(5):before { content: "Actions"; }
    }

    .logs-table {
        td:nth-of-type(1):before { content: "Date/Time"; }
        td:nth-of-type(2):before { content: "Type"; }
        td:nth-of-type(3):before { content: "Comment"; }
        td:nth-of-type(4):before { content: "Logged Against (User)"; }
        td:nth-of-type(5):before { content: "Logged By (Moderator)"; }
    }
}

// Truncate comments in various tables

td.comments .mobile {
    display: none;
}

@media (max-device-width: 1060px) {
    td.comments .mobile {
        display: inline;
    }

    td.comments .desktop {
        display: none;
    }
}

.comments-dialog .comments {
    padding: 5px 0 10px 0;
}


// Prior warnings on review abuse page

.show-warnings {
    display: block;
    padding-top: 15px;
}

.warning {
    border-bottom: 1px solid $light-grey;
    padding: 5px 0 20px 0;

    h4 {
        font-size: 14px;
        font-family: "Cantarell", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: bold;
        margin: 10px 0 0 0;
    }

    h4.first {
        margin-top: 0;
    }

    p.meta {
        margin-bottom: 0;
    }
}

.warning.last {
    border-bottom: 0;
}


// Revoke invitation form label

.revoke-label {
    font-weight: normal;

    span {
        font-weight: bold;
    }
}
