// PROFILE SETTINGS

.profile-wrapper {
   margin: 10px 0px 30px 30px;
}

.profile-table {

    td {
        padding: 20px 0;
        border-top: 1px solid $light-grey * .95;
    }
}

td.profile-heading {
    width: 25%;
    text-align: right;

    strong {
        padding-right: 25px;
    }
}

// NAME FIELDS

input.name {
    padding: 7px;
    margin: 0;
    border:  1px solid $white;
}

.name.inactive:hover {
    border: 1px solid $light-grey * .9;
    cursor: pointer;
    -webkit-box-shadow:inset 0px 0px 1px 1px rgba(0,0,0,.06);
    box-shadow:inset 0px 0px 1px 1px rgba(0,0,0,.06);
}


// BIO

.bio {
    padding: 7px;
    margin: 0;
    border:  1px solid $white;
    width: 95%; //default

    p:last-child {
        margin-bottom: 10px;
    }
}

.bio.inactive {
    resize: none;

    &:hover {
        border: 1px solid $light-grey * .9;
        cursor: pointer;
        -webkit-box-shadow:inset 0px 0px 1px 1px rgba(0,0,0,.06);
        box-shadow:inset 0px 0px 1px 1px rgba(0,0,0,.06);
    }
}



// PREFERENCES

.profile-preferences {
    ul {
        margin: -5px 0 0 0;

        li {
            margin: 0;
            padding: 0;
        }
    }

    label {
        padding: 7px 10px;

        span {
            color: $light-grey * .5;
            padding-left: 5px;
        }

        &:hover {
            background-color: $lighter-grey;
        }
    }
}


// SKILLS & LINKS

.profile-skills,
.profile-links {

    .skill-formset,
    .link-formset {
        border-bottom: 1px dotted $light-grey * .9;
        margin-bottom: 10px;

        select,
        input {
            display: inline-block;
            margin-bottom: 10px;
            padding: 5px;
        }

        .divider {
            margin: 0 10px;
            color: $light-grey * .7;
        }
    }

    a.add-row,
    a.delete-row {
        display: inline-block;
        font-size: 12px;
    }

    a.delete-row {
        margin-left: 15px;
    }
}
