// MY ACCOUNT


.horizontal-form {
    margin-top: 10px;

    dl {
        display: block;

        dt {
            font-weight: bold;
            float: left;
            text-align: right;
            width: 130px;
            margin: 0 25px 15px 0;
            line-height: 30px;
        }

        dd {
            float: left;
            width: 600px;
            line-height: 25px;
            margin:0 0 15px 0;

            input[type="text"],
            input[type="email"],
            input[type="password"] {
                padding: 7px;
                margin: 0;
            }

            textarea {
                padding: 2%;
                margin: 0;
                width: 96%;

                p:last-child {
                    margin-bottom: 10px;
                }
            }

            input.pw {
                margin-bottom: 15px;
            }

            input.inactive:hover {
                border: 1px solid $light-grey * .9;
                cursor: pointer;
                -webkit-box-shadow:inset 0px 0px 1px 1px rgba(0,0,0,.06);
                box-shadow:inset 0px 0px 1px 1px rgba(0,0,0,.06);
            }

            @media only screen and (max-width: 610px) {
                input[type="text"],
                input[type="email"],
                input[type="password"],
                textarea {
                    padding: 2%;
                    width: 96%;
                }

            }
        }
    }

    dl.submit {
        padding-top: 10px;
    }
}


@media only screen and (max-width: 1060px) {
.horizontal-form {
    margin-top: 5px;

    dl {
        display: block;
        width: 100%;
        margin-top: 5px;

        dt {
            font-weight: bold;
            float: none;
            text-align: left;
            width: 100%;
            margin: 0;
        }

            dd {
                float: none;
                width: 100%;
            }
        }

        dl.submit {
            padding-top: 0px;
        }
    }
}


// PREFERENCES

.roles {
    ul {
        margin: 0;

        li {
            margin: 0;
            padding: 0;
        }
    }

    label {
        padding: 7px 10px;

        span {
            color: $light-grey * .5;
            padding-left: 5px;
        }

        &:hover {
            background-color: $lighter-grey;
        }
    }
}


// SKILLS & LINKS

.horizontal-form dl dd {
    .skill-formset,
    .link-formset {
        border-bottom: 1px dotted $light-grey * .9;
        margin-bottom: 10px;

        select,
        input {
            display: inline-block;
            margin-bottom: 10px;
            padding: 5px;
        }

        .divider {
            margin: 0 10px;
            color: $light-grey * .7;
        }
    }
}

a.add-row,
a.delete-row {
    display: inline-block;
    font-size: 12px;
}

a.delete-row {
    margin-left: 15px;
}

@media only screen and (max-width: 610px) {
    .horizontal-form dl dd {
        .skill-formset,
        .link-formset {
            border-bottom: 1px dotted $light-grey * .9;
            margin: 5px 0 20px 0;

            select {
                width: 100%;
                padding: 2%;
                margin-bottom: 10px;
            }

            input[type="text"],
            input[type="email"],
            input[type="password"],
            input[type="url"] {
                padding: 2%;
                width: 96%;
                margin-bottom: 10px
            }

            .divider {
                display: none;
            }

            a.delete-row {
                margin: 0 0 10px 0;
            }
        }
    }
}
