{% extends "accounts/settings_base.html" %}
{% load i18n %}


{% block page_title %}{% trans "Account Settings" %}{% endblock %}
{% block settings_active %}active{% endblock %}

{% block settings_content %}
    <form action="" method="post" class="horizontal-form" novalidate>
        {% csrf_token %}
        <fieldset>
            <legend>Account Settings</legend>
            <p class="intro">Update your login details here.  This email address is also used when another user sends you a message.  This information is not displayed on your profile.</p>
            <dl>
                <dt>{% trans "Email" %}</dt>
                <dd>
                    {{ form.email }}
                    {% if form.email.errors %}
                        <span class="form-error">
                            {% for error in form.email.errors %}
                                <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                            {% endfor %}
                        </span>
                    {% endif %}
                </dd>
                <span class="clearfix"></span>
            </dl>
            <dl>
                <dt>{% trans "Current Password" %}</dt>
                <dd>
                    {{ form.current_password }}
                    {% if form.current_password.errors %}
                        <span class="form-error">
                            {% for error in form.current_password.errors %}
                                <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                            {% endfor %}
                        </span>
                    {% endif %}
                </dd>
                <span class="clearfix"></span>
            </dl>
            <dl>
                <dt>{% trans "New Password" %}</dt>
                <dd>
                    {{ form.reset_password }}
                    {{ form.reset_password_confirm }}

                    {% if form.non_field_errors %}
                        <span class="form-error">
                            {% for error in form.non_field_errors %}
                                <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                            {% endfor %}
                        </span>
                    {% endif %}
                </dd>
                <span class="clearfix"></span>
            </dl>
            <dl>
                <dt></dt>
                <dd>
                    <input type="submit" value="{% trans 'Update Account Settings' %}" class="button"/>
                </dd>
                <span class="clearfix"></span>
            </dl>
        </fieldset>
    </form>

<!--
    <h3 class="lined">Delete Account</h3>
    <p class="intro">Use the link below to delete your account.  For security reasons, you will be sent an email to confirm this action.</p>
    <a href="" class="button">Delete Account</a>
-->
{% endblock %}
