{% extends "logged_out.html" %}
{% load i18n %}

{% block page_title %}{% trans "Activate Account" %}{% endblock %}

{% block page_content %}

    {% trans "Activate Account" as title %}

    <div class="container">
        {% if token_is_used %}
            <h3 class="lined">{% trans "Token is Used" %}</h3>
            <p class="intro">
                {% url 'accounts:request-invitation' as url %}
                {% blocktrans trimmed %}
                    We're sorry, this activation token has already been used.  If you already have an account, please login <a href="/">here.</a><br/>
                    To request a new token, please visit the <a href="{{ url }}">request account page</a>.
                {% endblocktrans %}
            </p>

        {% else %}
            <form action="" method="post" class="horizontal-form">
                {% csrf_token %}
                <fieldset>
                    <legend>{{ title }}</legend>
                    <p class="intro">
                        {% blocktrans with site=request.site.name trimmed %}
                            Activate your {{ site }} account.  If you wish to change the email account you are registered with, you can do so once you have logged in.
                        {% endblocktrans %}
                    </p>
                    <dl>
                        <dt>{% trans "First Name" %}</dt>
                        <dd>
                            {{ form.first_name }}
                            {% if form.first_name.errors %}
                                <span class="form-error">
                                    {% for error in form.first_name.errors %}
                                        <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </dd>
                        <span class="clearfix"></span>
                    </dl>
                    <dl>
                        <dt>{% trans "Last Name" %}</dt>
                        <dd>
                            {{ form.last_name }}
                            {% if form.last_name.errors %}
                                <span class="form-error">
                                    {% for error in form.last_name.errors %}
                                        <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </dd>
                        <span class="clearfix"></span>
                    </dl>
                    <dl>
                        <dt>{% trans "Password" %}</dt>
                        <dd>
                            {{ form.password }}
                            {% if form.password.errors %}
                                <span class="form-error">
                                    {% for error in form.password.errors %}
                                        <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </dd>
                        <span class="clearfix"></span>
                    </dl>
                    <dl>
                        <dt>{% trans "Confirm Password" %}</dt>
                        <dd>
                            {{ form.confirm_password }}
                            {% if form.confirm_password.errors %}
                                <span class="form-error">
                                    {% for error in form.confirm_password.errors %}
                                        <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                                    {% endfor %}
                                </span>
                            {% endif %}
                            {% if form.non_field_errors %}
                                <span class="form-error">
                                    {% for error in form.non_field_errors %}
                                        <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </dd>
                        <span class="clearfix"></span>
                    </dl>
                    <dl>
                        <dt></dt>
                        <dd>
                            <input type="submit" value="{{ title }}" class="button"/>
                        </dd>
                        <span class="clearfix"></span>
                    </dl>
                </fieldset>
            </form>
        {% endif %}
    </div>
{% endblock %}
