{% extends "base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Activate Account" %}{% endblock %}

{% block content %}
    <div class="container">
        <h2>Activate Account</h2>
        {% if token_is_used %}
            <p>Sorry, this token is used.</p>
        {% else %}
            {{ user.get_full_name }}
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="{% trans 'Activate Account' %}" />
            </form>
        {% endif %}
    </div>
{% endblock %}
