{% extends "logged_out.html" %}
{% load i18n %}

{% block page_title %}{% trans "Account Closed" %}{% endblock %}

{% block page_content %}
    <div class="container">
        <h3 class="lined">{% trans "We're sorry to see you go" %}!</h2>
        <p class="intro">
            {% url 'accounts:request-invitation' as url %}
            {% blocktrans trimmed %}
                Your account has been closed<br/>
                If you would like to reopen your account, please visit the <a href="{{ url }}">request invitation page</a>.
            {% endblocktrans %}
        </p>
    </div>
{% endblock %}
