{% extends "accounts/settings_base.html" %}
{% load i18n %}



{% block page_title %}{% trans "Close Account" %}{% endblock %}
{% block close_account_active %}active{% endblock %}

{% block settings_content %}

    {% trans "Close Account" as title %}

    <form action="{% url 'accounts:close-account' %}" method="post" class="horizontal-form close-account" novalidate>
        {% csrf_token %}
        <fieldset>
            <legend>{{ title }}</legend>
            <p class="intro">
                {% blocktrans with site=request.site.name trimmed %}
                    Please enter your {{ site }} password to confirm you wish to close your account.
                {% endblocktrans %}
            </p>
            <dl>
                <dt>{% trans "Password" %}</dt>
                <dd>
                    {{ form.password }}
                    {% if form.password.errors %}
                        <span class="form-error">
                            {% for error in form.password.errors %}
                                <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                            {% endfor %}
                        </span>
                    {% endif %}
                </dd>
                <span class="clearfix"></span>
            </dl>
            <dl>
                <dt></dt>
                <dd>
                    <input type="submit" value="{{ title }}" class="button submit"/>
                </dd>
                <span class="clearfix"></span>
            </dl>
        </fieldset>
    </form>
{% endblock %}
