{% extends "base.html" %}
{% load i18n %}


{% load browserid %}

{% block page_title %}{% trans "Login" %}{% endblock %}

{% block extra_css %}
    {% browserid_css %}
{% endblock %}

{% block nav_content %}

    <div class="authentication">
        {% if user.is_authenticated %}
            {% browserid_logout text='Logout' %}
        {% else %}
            {% browserid_login text='Login' color='dark' %}
        {% endif %}
    </div>

    <form method="post" action="{% url 'accounts:login' %}" class="login-form">
        {% csrf_token %}

        <div class="pull-left field">
            <label>{% trans "Username" %}</label>
            {{ form.username }}
        </div>

        <div class="pull-left field">
            <label>{% trans "Password" %}</label>
            {{ form.password }}
        </div>

        <div class="pull-left">
            <input type="submit" value="{% trans 'Login' %}" class="button"/>
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
        <div class="clearfix"></div>
        <a href="{% url 'accounts:password_reset' %}">{% trans "Forgotten your login details?" %}</a>
    </form>

    {% if form.errors %}
        <div id="login-error">
            {% trans "Your username and password didn't match. Please try again." %}
        </div>
    {% endif %}

{% endblock %}


{% block content %}
    <div class="container">
        <a href="{% url 'accounts:request-invitation' %}">{% trans "Request an Account" %}</a>
    </div>
{% endblock %}

{% block extra_js %}
    {% browserid_js %}
{% endblock %}
