{% extends "logged_out.html" %}
{% load i18n %}

{% block page_title %}{% trans "Login" %}{% endblock %}

{% block messages %}
    {% if form.errors %}
        <p>{% trans "Your email and password didn't match. Please try again." %}</p>
    {% endif %}
{% endblock %}

{% block nav_content %}
    <form method="post" action="{% url 'accounts:login' %}" class="login-form" novalidate>
        {% csrf_token %}
        <div class="pull-left field">
            <label>{% trans "Email" %}</label>
            {{ form.username }}
        </div>

        <div class="pull-left field">
            <label>{% trans "Password" %}</label>
            {{ form.password }}
        </div>

        <div class="pull-left">
            <input type="submit" value="{% trans 'Login' %}" class="button"/>
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
        <div class="clearfix"></div>
        <a class="forgotton" href="{% url 'accounts:password-reset' %}">{% trans "Forgotten your password?" %}</a>
    </form>
{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="content-container">
            <a href="{% url 'accounts:request-invitation' %}" class="button">{% trans "Request an Account" %}</a>
        </div>
    </div>
{% endblock %}
