{% extends "base.html" %}

{% block nav_content %}

    <form method="post" action="{% url 'accounts:login' %}" class="login-form">
        {% csrf_token %}

        <div class="pull-left field">
            <label>Username</label>
            {{ form.username }}
        </div>

        <div class="pull-left field">
            <label>Password</label>
            {{ form.password }}
        </div>

        <div class="pull-left">
            <input type="submit" value="Login" class="button"/>
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
        <div class="clearfix"></div>
    </form>

    {% if form.errors %}
        <small>Your username and password didn't match. Please try again.</small>
    {% endif %}

{% endblock %}
