{% extends "base.html" %}
{% load i18n %}


{% block page_title %}{% trans "Retrieve Your Login Details" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="content-container">
        {% blocktrans %}
            <h3>Trouble logging in?</h3>
            <p>Please enter your email address below, and we will email you instructions for setting a new password</p>
        {% endblocktrans %}

            <form action="" method="post" class="">
                {% csrf_token %}

                {{ form.as_p }}
                <input type="submit" value="{% trans 'Retrieve Login Details' %}" class="button"/>
            </form>
    </div>
</div>
{% endblock %}
