{% extends "logged_out.html" %}
{% load i18n %}

{% block page_title %}{% trans "Check your email" %}{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="content-container">
            {% blocktrans %}
                <h3 class="lined">Please check your email</h3>
                <p class="intro">
                    We have sent you an email containing instructions on how to reset your password.<br/>
                    If you have not received this email please check your spam folder, or contact your system administrator.
                </p>
                <a class="button" href="/">Return to Login page</a>
            {% endblocktrans %}
        </div>
    </div>
{% endblock %}
