{% extends "logged_out.html" %}
{% load i18n %}

{% block page_title %}{% trans "Check your email" %}{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="content-container">
            <h3 class="lined">{% trans "Please check your email" %}</h3>
            <p class="intro">
                {% trans "We have sent you an email containing instructions on how to reset your password" %}.<br/>
                {% trans "If you have not received this email please check your spam folder, or contact your system administrator" %}.
            </p>
            <a class="button" href="/">{% trans "Return to Login page" %}</a>
        </div>
    </div>
{% endblock %}
