{% extends "base.html" %}
{% load i18n %}


{% block page_title %}{% trans "Check your email" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="content-container">
        {% blocktrans %}
            <h3 class="h-no-tmargin">Please check your email</h3>
            <p>We have sent you an email containing instructions on how to reset your password.</p>
            <p>If you have not received this email please <strong>check your spam folder</strong>, or <strong>contact your system administrator</strong>.</p>
            <br/>
            <a class="btn btn-primary" href="">'Return to log in page'</a>
        {% endblocktrans %}
    </div>
</div>
{% endblock %}
