{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block page_title %}{% trans 'Reset Password' %}{% endblock %}

{% block content %}

{% if validlink %}

<div class="container">
    <div class="content-container">
        <h3 class="h-no-tmargin">{% trans 'Please enter a new password' %}</h3>
        <p>{% trans "Please enter your new password twice for verification purposes." %}</p>

        <form action="" method="post" class="form-no-margin" id="reset-pass">
            {% csrf_token %}
            <label for="id_new_password1">{% trans 'New password:' %}</label>
            {{ form.new_password1 }}

            {% if form.new_password1.errors %}
                <div class="alert alert-danger alert-validation alert-arrow-left">
                    {{ form.new_password1.errors }}
                </div>
            {% endif %}

            <label for="id_new_password2">{% trans 'Confirm new password:' %}</label>
            {{ form.new_password2 }}

            {% if form.new_password2.errors %}
                <div class="alert alert-danger alert-validation alert-arrow-left">
                    {{ form.new_password2.errors }}
                </div>
            {% endif %}
            <br/>
            <input class="btn btn-primary reset-btn" type="submit" value="{% trans 'Reset Password' %}" />
        </form>
    </div>
</div>

{% else %}
<div class="container">
    <div class="content-container">
        <h3 class="h-no-tmargin">{% trans 'Invalid Link' %}</h3>
        {% url "password_reset" as reset_pw_url %}
        {% blocktrans %}
            <p>This password reset link is invalid, possibly because it has already been used.</p>
            <br/>
            <a class="btn btn-primary" href="{{ reset_pw_url }}">Request a New Password Reset</a>
        {% endblocktrans %}
    </div>
</div>

{% endif %}
{% endblock %}
