{% extends "base.html" %}

{% block page_title %}Retrieve Your Login Details{% endblock %}

{% block content %}
<div class="container">
    <div class="content-container">
        <h3>Trouble logging in?</h3>
        <p>Please enter your email address below, and we will email you:</p>
        <ul>
            <li>Your username</li>
            <li>Instructions for setting a new password (optional)</li>
        </ul>

            <form action="" method="post" class="">
                {% csrf_token %}

                {{ form.as_p }}
                <input type="submit" value="Retrieve Login Details" class="button"/>
            </form>
    </div>
</div>
{% endblock %}
