{% extends "logged_out.html" %}
{% load i18n %}

{% block page_title %}{% trans "Reset Password" %}{% endblock %}

{% block page_content %}

    {% trans "Reset Password" as title %}

    {% if validlink %}
        <div class="container">
            <div class="content-container">
                <form action="" method="post" class="horizontal-form" id="reset-pass">
                    <fieldset>
                        <legend>{{ title }}</legend>
                        <p class="intro">{% trans "Please enter your new password twice for verification purposes" %}.</p>
                        {% csrf_token %}
                        <dl>
                            <dt>{% trans "New Password" %}</dt>
                            <dd>
                                {{ form.new_password1 }}
                                {% if form.new_password1.errors %}
                                    <span class="form-error">
                                        {% for error in form.new_password1.errors %}
                                            <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                                        {% endfor %}
                                    </span>
                                {% endif %}
                            </dd>
                            <span class="clearfix"></span>
                        </dl>
                        <dl>
                            <dt>{% trans "Confirm Password" %}</dt>
                            <dd>
                                {{ form.new_password2 }}
                                {% if form.new_password2.errors %}
                                    <span class="form-error">
                                        {% for error in form.new_password2.errors %}
                                            <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                                        {% endfor %}
                                    </span>
                                {% endif %}
                                {% if form.non_field_errors %}
                                    <span class="form-error">
                                        {% for error in form.non_field_errors %}
                                            <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                                        {% endfor %}
                                    </span>
                                {% endif %}
                            </dd>
                            <span class="clearfix"></span>
                        </dl>
                        <dl>
                            <dt></dt>
                            <dd>
                                <input type="submit" value="{{ title }}" class="button"/>
                            </dd>
                            <span class="clearfix"></span>
                        </dl>
                    </fieldset>
                </form>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="content-container">
                <h3 class="lined">{% trans "Invalid Link" %}</h3>
                <p class="intro">{% trans "This password reset link is invalid, possibly because it has already been used" %}.</p>
                <a class="button" href="{% url 'accounts:password-reset' %}">{% trans "Request a New Password Reset" %}</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
