{% extends "accounts/settings_base.html" %}
{% load i18n staticfiles %}

{% block page_title %}{% trans "Profile Settings" %}{% endblock %}

{% block profile_active %}active{% endblock %}

{% block settings_content %}

    {% include "messages.html" %}

    <form action="" method="post" enctype="multipart/form-data" class="horizontal-form profile-settings" novalidate>
        {% csrf_token %}
        <fieldset>
            <legend>{% trans "Your Biography" %}</legend>
            <p class="intro">{% trans "Tell us about yourself!  Include as much information as you feel is relevant.  This information will be visible to other users." %}</p>

            <dl>
                <dt>{% trans "First Name" %}</dt>
                <dd>
                    {{ form.first_name }}
                    {% if form.first_name.errors %}
                        <span class="form-error">
                            {% for error in form.first_name.errors %}
                                <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                            {% endfor %}
                        </span>
                    {% endif %}
                </dd>
                <span class="clearfix"></span>
            </dl>
            <dl>
                <dt>{% trans "Last Name" %}</dt>
                <dd>
                    {{ form.last_name }}
                    {% if form.last_name.errors %}
                        <span class="form-error">
                            {% for error in form.last_name.errors %}
                                <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                            {% endfor %}
                        </span>
                    {% endif %}
                </dd>
                <span class="clearfix"></span>
            </dl>
            <dl>
                <dt>{% trans "Bio" %}</dt>
                <dd>
                    {{ form.bio }}
                </dd>
                <span class="clearfix"></span>
            </dl>
        </fieldset>

        <fieldset>
            <legend>{% trans "Your Links" %}</legend>
            <p class="intro">{% trans "List any links that you wish to display on your profile.  For example, you could include your personal website, twitter account or links to your projects." %}</p>
            <dl>
                <dt>{% trans "Links" %}</dt>
                <dd>
                    {{ link_formset.management_form }}
                    {% for form in link_formset %}
                        <div class="link-formset">
                            {{ form.anchor }}
                            <span class="divider">
                                <i class="fa fa-arrows-h"></i>
                            </span>
                            {{ form.url }}
                        </div>
                    {% endfor %}

                    {% if link_formset.non_form_errors %}
                        <div>
                            <span class="form-error">
                                {% for error in link_formset.non_form_errors %}
                                    <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                                {% endfor %}
                            </span>
                        </div>
                    {% endif %}
                </dd>
            </dl>
        </fieldset>

        {% if has_roles %}
            <fieldset>
                <legend>{% trans "Your Roles" %}</legend>
                <p class="intro">{% trans "How would you like other members to interact with you?  Please select all that apply." %}</p>
                <dl>
                    <dt>{% trans "Roles" %}</dt>
                    <dd>
                        {% for field in form.roles %}
                            {{ field }}
                        {% endfor %}
                        {% if form.roles.errors %}
                            <span class="form-error">
                                {% for error in form.roles.errors %}
                                    <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                                {% endfor %}
                            </span>
                        {% endif %}
                    </dd>
                    <span class="clearfix"></span>
                </dl>
            </fieldset>
        {% endif %}

        {% if has_skills %}
            <fieldset>
                <legend>{% trans "Your Skills and Interests" %}</legend>
                <p class="intro">
                    {% blocktrans with email=request.site.config.email trimmed %}
                        Please list all of your relevant skills and interests.
                        If you'd like to include something here that is not already on the list, please email us at <a href="{{ email }}">{{ email }}</a>.
                    {% endblocktrans %}
                </p>
                <dl>
                    <dt>{% trans "Skills" %}</dt>
                    <dd>
                        {{ skill_formset.management_form }}
                        {% for form in skill_formset %}
                            <div class="skill-formset">
                                {{ form.skill }}
                                <span class="divider">
                                    <i class="fa fa-arrows-h"></i>
                                </span>
                                {{ form.proficiency }}
                            </div>
                        {% endfor %}

                        {% if skill_formset.non_form_errors %}
                            <div>
                                <span class="form-error">
                                    {% for error in skill_formset.non_form_errors %}
                                        <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                                    {% endfor %}
                                </span>
                            </div>
                        {% endif %}
                    </dd>
                    <span class="clearfix"></span>
                </dl>
            </fieldset>
        {% endif %}

        <fieldset class="submit-fieldset">
            <dl>
                <dt></dt>
                <dd>
                    <input type="submit" value="{% trans 'Update Profile Settings' %}" class="button submit"/>
                </dd>
                <span class="clearfix"></span>
            </dl>
        </fieldset>
    </form>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/vendor/jquery.autosize.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.formset.js' %}"></script>
    <script>
        // Add additional fields to formsets
        $('.skill-formset').formset({
            prefix: '{{ skill_formset.prefix }}',
            formCssClass: 'dynamic-skill-formset',
            addText: '{% trans "add skill" %}',
            deleteText: '{% trans "remove" %}',
            deleteCssClass: 'delete-skill'
        });

        $('.link-formset').formset({
            prefix: '{{ link_formset.prefix }}',
            formCssClass: 'dynamic-link-formset',
            addText: '{% trans "add link" %}',
            deleteText: '{% trans "remove" %}',
            deleteCssClass: 'delete-link'
        });

        // Fancy vertical resizing
        $('.bio').autosize();

    </script>
{% endblock %}
