{% extends "accounts/settings_base.html" %}

{% load staticfiles %}
{% load gravatar %}

{% block page_title %}Profile Settings{% endblock %}
{% block profile_active %}active{% endblock %}

{% block settings_content %}

<div class="profile-wrapper">

    <form action="" method="post">
    {% csrf_token %}
    {{ form.errors }}

        <table class="profile-table">
            <tbody>
                <tr>
                    <td class="profile-heading"><strong>Connect Gravatar</strong></td>
                    <td>
                        <div class="image">
                            {% if user.gravatar_exists %}
                                {% gravatar user.email 100 %}
                            {% elif user.profile.photo %}
                                <img src="{{ MEDIA_URL }}{{ user.profile.photo }}" alt="{{ user.first_name }} {{ user.last_name }}"/>
                            {% else %}
                                <p>No photo found</p> <!-- TODO: Make default image -->
                            {% endif %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="profile-heading"><strong>First Name</strong></td>
                    <td>
                        <div class="name">
                            {{ form.first_name }}
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="profile-heading"><strong>Last Name</strong></td>
                    <td>
                        <div class="name">
                            {{ form.last_name }}
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="profile-heading"><strong>Biography</strong></td>
                    <td class="profile-bio">
                        {{ form.bio }}

                    </td>
                </tr>

                <tr>
                    <td class="profile-heading"><strong>Connect Preferences</strong></td>
                    <td class="profile-preferences">
                        {{ form.preferences }}
                    </td>
                </tr>

                <tr>
                    <td class="profile-heading"><strong>Skills</strong></td>
                    <td class="profile-skills">
                        {{ skill_formset.management_form }}
                        {% for form in skill_formset %}
                            <div class="skill-formset">
                                {{ form.skill }}
                                {{ form.proficiency.errors }}
                                <span class="divider">
                                    <i class="fa fa-arrows-h"></i>
                                </span>
                                {{ form.proficiency }}
                                {{ form.proficiency.errors }}
                            </div>
                        {% endfor %}
                    </td>
                </tr>

                <tr>
                    <td class="profile-heading"><strong>Links</strong></td>
                    <td class="profile-links">
                        {{ link_formset.management_form }}
                        {% for form in link_formset %}
                            <div class="link-formset">
                                {{ form.anchor }}
                                {{ form.anchor.errors }}
                                <span class="divider">
                                    <i class="fa fa-arrows-h"></i>
                                </span>
                                {{ form.url }}
                                {{ form.url.errors }}
                            </div>
                        {% endfor %}
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Update Profile Settings" class="button"/>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
{% endblock %}


{% block extra_js %}
    <script src="{% static 'js/vendor/jquery.autosize.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.formset.js' %}"></script>

    <script>
        // Add additional fields to formsets
        $('.skill-formset').formset({
            prefix: '{{ skill_formset.prefix }}',
            formCssClass: 'dynamic-skill-formset',
            addText: 'add skill'
        });

        $('.link-formset').formset({
            prefix: '{{ link_formset.prefix }}',
            formCssClass: 'dynamic-link-formset',
            addText: 'add link'
        });
    </script>
{% endblock %}
