{% extends "logged_out.html" %}
{% load i18n %}

{% block page_title %}{% trans "Request Account Invitation" %}{% endblock %}

{% block page_content %}
    <div class="container">
        <form action="" method="post" class="horizontal-form" id="request-account">
            {% csrf_token %}
            <fieldset>
                <legend>{% trans "Request an Invitation" %}</legend>
                <p class="intro">
                    Fill out the form below to request an account at {{ request.site.name }}.<br/>
                    Please provide as much information you think is relevant for our moderators to approve your application.
                </p>

                <dl>
                    <dt>{% trans "First Name" %}</dt>
                    <dd>
                        {{ form.first_name }}
                        {% if form.first_name.errors %}
                            <span class="form-error">
                                {% for error in form.first_name.errors %}
                                    <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                                {% endfor %}
                            </span>
                        {% endif %}
                    </dd>
                    <span class="clearfix"></span>
                </dl>
                <dl>
                    <dt>{% trans "Last Name" %}</dt>
                    <dd>
                        {{ form.last_name }}
                        {% if form.last_name.errors %}
                            <span class="form-error">
                                {% for error in form.last_name.errors %}
                                    <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                                {% endfor %}
                            </span>
                        {% endif %}
                    </dd>
                    <span class="clearfix"></span>
                </dl>
                <dl>
                    <dt>{% trans "Email" %}</dt>
                    <dd>
                        {{ form.email }}
                        {% if form.email.errors %}
                            <span class="form-error">
                                {% for error in form.email.errors %}
                                    <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                                {% endfor %}
                            </span>
                        {% endif %}
                    </dd>
                    <span class="clearfix"></span>
                </dl>
                <dl>
                    <dt>{% trans "Comments" %}</dt>
                    <dd>
                        {{ form.comments }}
                        {% if form.comments.errors %}
                            <span class="form-error">
                                {% for error in form.comments.errors %}
                                    <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                                {% endfor %}
                            </span>
                        {% endif %}
                        {% if form.non_field_errors %}
                            <span class="form-error">
                                {% for error in form.non_field_errors %}
                                    <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                                {% endfor %}
                            </span>
                        {% endif %}
                    </dd>
                    <span class="clearfix"></span>
                </dl>
                <dl>
                    <dt></dt>
                    <dd>
                        <a href="/" class="button muted">Cancel</a>
                        <input type="submit" value="{% trans 'Request Invitation' %}" class="button" />
                    </dd>
                </dl>
            </fieldset>
        </form>
    </div>
{% endblock %}
