{% extends "logged_in.html" %}
{% load i18n %}


{% block myaccount_active %}active{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="four columns alpha">
            <ul class="sidebar-menu">
                <li><a href="{% url 'accounts:profile-settings' %}" class="{% block profile_active %}{% endblock %}">{% trans "Profile Settings" %}</a></li>
                <li><a href="{% url 'accounts:account-settings' %}" class="{% block settings_active %}{% endblock %}">{% trans "Account Settings" %}</a></li>
            </ul>
        </div>

        <div class="twelve columns omega">
            {% block settings_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
