{% extends "accounts/settings_base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Update Password" %}{% endblock %}
{% block update_password_active %}active{% endblock %}

{% block settings_content %}

    {% trans "Update Password" as title %}
    {% include "messages.html" %}

    <form action="{% url 'accounts:update-password' %}" method="post" class="horizontal-form update-password" novalidate>
        {% csrf_token %}
        <fieldset>
            <legend>{{ title }}</legend>
            <dl class="update-pass">
                <dt>{% trans "New Password" %}</dt>
                <dd>
                    {{ form.new_password }}
                    {% if form.new_password.errors %}
                        <span class="form-error">
                            {% for error in form.new_password.errors %}
                                <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                            {% endfor %}
                        </span>
                    {% endif %}
                </dd>
                <span class="clearfix"></span>
            </dl>
            <p class="intro indented">{% trans "Please confirm you wish to update your password by entering your current password." %}</p>
            <dl>
                <dt>{% trans "Current Password" %}</dt>
                <dd>
                    {{ form.current_password }}
                    {% if form.current_password.errors %}
                        <span class="form-error">
                            {% for error in form.current_password.errors %}
                                <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                            {% endfor %}
                        </span>
                    {% endif %}
                </dd>
                <span class="clearfix"></span>
            </dl>
            <dl>
                <dt></dt>
                <dd>
                    <input type="submit" value="{{ title }}" class="button"/>
                </dd>
                <span class="clearfix"></span>
            </dl>
        </fieldset>
    </form>
{% endblock %}
