{% extends "accounts/settings_base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Update Email" %}{% endblock %}

{% block update_email_active %}active{% endblock %}

{% block settings_content %}

    {% include "messages.html" %}

    <form action="{% url 'accounts:update-email' %}" method="post" class="horizontal-form update-email" novalidate data-parsley-validate>
        {% csrf_token %}
        <fieldset>
            <legend>{% trans "Update Email Address" %}</legend>
            <p class="intro">
                {% blocktrans with site=request.site.name trimmed %}
                    Update your email address here.  This address is used for logging into {{ site }}, as well as when when another user sends you a message.  This information is not displayed on your profile.
                {% endblocktrans %}
            </p>
            <dl>
                <dt>{% trans "Email" %}</dt>
                <dd>
                    {{ form.email }}
                    {% if form.email.errors %}
                        <span class="form-error">
                            {% for error in form.email.errors %}
                                <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                            {% endfor %}
                        </span>
                    {% endif %}
                </dd>
                <span class="clearfix"></span>
            </dl>
            <p class="intro indented">{% trans "Please confirm you wish to update your email address by entering your password." %}</p>
            <dl>
                <dt>{% trans "Password" %}</dt>
                <dd>
                    {{ form.password }}
                    {% if form.password.errors %}
                        <span class="form-error">
                            {% for error in form.password.errors %}
                                <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                            {% endfor %}
                        </span>
                    {% endif %}
                </dd>
                <span class="clearfix"></span>
            </dl>
            <dl>
                <dt></dt>
                <dd>
                    <input type="submit" value="{% trans 'Update Email' %}" class="button submit"/>
                </dd>
                <span class="clearfix"></span>
            </dl>
        </fieldset>
    </form>
{% endblock %}
