
// COLOURS

// Main colour.  Currently set to pink.

$highlight : #e51e41;
$highlight-dark : $highlight *.95;
$highlight-light : $highlight * 1.5;


// Shades of Grey

$black: #000;
$dark-grey: #333;

$light-grey: #ececec;
$lighter-grey: #f4f4f4;
$lightest-grey: #f9f9f9;

$off-white: #fcfcfc;
$white: #fff;



// GENERIC STYLES

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix {
    @clearfix;
}

.centered {
    text-align: center;
}

.well {
    background-color: #fefefe;
    border: 1px solid $light-grey;
    padding: 20px;
}

.badge {
    background-color: $highlight;
    padding: 3px 5px;
    color: $white;
    font-size: 12px;
}

.badge-grey {
    background-color: $dark-grey;
}

h3.lined {
    display: block;
    width: 100%;
    font-weight: normal;
    font-size: 16px;
    border-bottom: 1px solid $light-grey;
    padding: 5px 0 10px 0;
    margin-bottom: 20px;
    font-family: 'Bree Serif', sans-serif;
}

p.intro {
    font-style: italic;
    color: #777;
    font-size: 13px;
    margin-bottom: 25px;
}

// Validation

.form-error {
    background-color: $white;
    color: $highlight;
    border: 1px solid $highlight;
    font-size: 13px;
    margin-top: 5px;
    display: inline-block;
    webkit-border-radius: 3px;
    border-radius: 3px;
    padding-right: 5px;

    ul {
        display: inline-block;
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: 3px 7px 3px 0;
        }
    }

    span {
        display: inline;
    }

    .fa {
        margin: 0 2px 0 5px;
        display: inline;
    }
}


// PAGE STRUCTURE

.messages {
    text-align: center;
    background-color: $highlight;
    color: $white;
    font-weight: bold;

    p  {
        padding: 10px 0;
        margin: 0;
        font-size: 13px;
    }
}

header {
    background-color: #fdfdfd;
    border-bottom: 1px solid #ccc;
    height: 100px;

    a {
        text-decoration: none;
    }

    a.mobile-icon {
        display: none;
    }

    nav {
        display: inline-block;

        a,
        a:visited {
            display: inline-block;
            height: 60px;
            padding: 40px 15px 0 15px;
            margin: 0;
            border-left: 1px solid #ddd;
            float: left;
            color: $dark-grey;

            &:hover {
                color: $black;
                background-color: #fafafa;
                text-decoration: none;
            }
        }
    }

    .app-title {
        padding:10px 0;
        font-size: 20px;
        font-family: georgia, sans-serif;
    }
}


@media only screen and (max-width: 620px) {
    header {
        height: auto;

        .header-container {
            width: 100%;
        }

        .app-title {
            float: none;
            display: inline-block;
            margin-left: 5%;
        }

        .pull-right {
            float: none;
        }

        a.mobile-icon {
            display: block;
            position: absolute;
            top: 42px;
            right: 0px;
            margin-right: 5%;
            font-size: 16px;
            text-transform: uppercase;


            i {
                color: $highlight;
            }

            &:hover{
                text-decoration: none;
            }
        }

        nav {
            display: none;
            float: none;
            width: 100%;

            a,
            a:visited {
                float: none;
                display: block;
                border: 0;
                border-top: 1px solid #ddd;
                height: auto;
                padding: 15px 5%;
            }
        }
    }
}


// BANNER

.connect-banner {
    padding: 35px 0;
    background-color: $lightest-grey;
    -webkit-box-shadow:inset 0px 0px 5px 1px rgba(0,0,0,.06);
    box-shadow:inset 0px 0px 5px 1px rgba(0,0,0,.06);

    h1 {
        font-size: 40px;
        line-height: 1.2;
    }

    h2 {
        font-size: 18px;
        color: $highlight;
        line-height: 1.2;
        margin-top: -10px;
    }
}


// SIDEBAR MENU

.sidebar-menu  {
    margin: 10px 0 30px 0;
    border-top: 1px solid #ddd;

    li {
        margin: 0;
    }

    .ui-state-active a {
        background-color: $lighter-grey;
    }

    .ui-state-hover a {
        background-color: #fafafa;
    }

    a,
    a:visited {
        display: block;
        text-decoration: none;
        padding: 15px 10px;
        border-bottom: 1px solid #ddd;
        color: $dark-grey;
        line-height: 22px;

        &:hover {
            color: $black;
            text-decoration: none;
        }

        .badge {
            float: right;
            position: relative;
            top: -3px;
        }
    }
}


// CONTENT

.content-container {
    padding: 20px 0;
}


// FOOTER

footer {
    background: $lightest-grey url(../../img/shadow-top.png) repeat-x 0 0;
    border-top: 1px solid #ddd;
    font-size: 12px;

    .container {
        padding: 20px 0 0 0;
    }

    a,
    a:visited {
        text-decoration: none;
        color: $dark-grey;

        &:hover {
            color: $highlight-dark;
            text-decoration: none;
        }
    }

    .pull-right a {
        margin-left: 10px;
    }

    .pull-left span {
        margin-right: 10px;

        i {
            margin: 0 3px;
        }
    }
}

@media only screen and (max-width: 610px) {
    .footer {
        padding-bottom: 80px;

        .container p {
            float: none;
            margin: 0;
            padding: 0;

            span {
                margin: 0;
                display: block;
                text-align: center;
                padding: 2px 0;
            }

            a {
                margin: 0;
            }
        }
    }
}



// STICKY FOOTER

* {
    margin: 0;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -61px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    height: 61px; /* .push must be the same height as .footer */
}



// CUSTOMISE RIBS

.container .twelve {
    padding-left: 20px;

    @media screen and (max-width:768px) {
        padding-left: 0;
    }
}

a,
a:visited {
  text-decoration: none;
  color: $highlight;

  &:hover {
    text-decoration: underline;
    color: $highlight-dark;
  }

  i {
    color: $dark-grey;
  }
}

fieldset {
    border: 0;
    margin-left: 0;
    margin-bottom: 20px;
    padding: 10px 0;

    label {
        margin-bottom: 5px;
    }

    legend {
        display: block;
        width: 100%;
        font-weight: normal;
        font-size: 16px;
        border-bottom: 1px solid $light-grey;
        padding-bottom: 10px;
        margin-bottom: 10px;
        font-family: 'Bree Serif', sans-serif;
    }
}

input[type='checkbox'],
input[type='radio']{
    position: relative;
    top: 3px;
    margin-right: 2px;
}

button,
.button,
button:hover,
.button:hover,
input.button,
input.button:hover {
    background-image: none;
    background-color: $highlight;
    font-size: 12px !important;
    color: $white !important;
    text-shadow: none;
    border: 0;
    padding: 7px 12px 8px 12px;
    font-weight: normal;
    position: relative;
    top: -1px;
}

button:hover,
.button:hover {
    background-color: $highlight-dark;
    text-decoration: none;
}

.active {
    background-color: $lighter-grey;
}

label {
    font-weight: normal;
}

p label {
    font-weight: bold;
}


// SHARED

.button.mini,
.button.mini:hover {
    padding: 5px 7px;
}

.button.grey {
    background-color: $dark-grey;
    color: $white;
}

table .button {
    margin-bottom: 0;
}


.skills {
    margin: 15px 0 0 0;
    background-color: transparent;

    td {
        padding: 5px 0;
        border: 0;
        vertical-align: middle;
    }

    td.skill-ability {
        width: 70%;
    }

    .ability {
        height: 20px;
        width: 85%;
        margin-left: 15%;
        border: 1px solid #ddd;
        background-color: $white;

        .ui-progressbar-value {
            background-color: $highlight;
            background-image: none;
            border: 1px solid $highlight;
        }
    }
}


// Responsive Tables

a.table-link {
    display: block;
}

@media (max-device-width: 1060px) {
    table {
        display: block;
    /* Force table to not be like tables anymore */
        thead,
        tbody,
        tr,
        th,
        td {
            display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr {
            border: 1px solid #ccc;
            margin-bottom: 10px;
        }

        tr:nth-of-type(even) {
          background: #f6f6f6;
        }

        th, td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 35%;
        }

        td:last-child {
            border-bottom: 0;
        }

        td:before {
            position: absolute;
            top: 6px;
            left: 6px;
            width: 30%;
            padding-right: 10px;
            white-space: nowrap;
            font-weight: bold;
        }


        a.table-link {
            display: inline;
        }

        a.table-link.first {
            padding-right: 7px;
        }
    }
}


@media (max-device-width: 650px) {
    table {
        th, td {
            padding: 8px;
        }

        td:before {
            position: static;
        }
    }
}


// Dialog forms

.dialog {
    form {
        margin: 10px 0 15px 0;

        label {
            padding-bottom: 10px;
        }

        input[type=text],
        input[type="password"],
        input[type="email"],
        input[type="search"],
        input[type="url"],
        input[type="number"],
        input[type="tel"],
        textarea,
        select {
            width:96%;
            padding: 2%;
        }

        textarea {
            height: 120px;
        }

        .button {
            margin-bottom: 0;
        }
    }
}
