/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import
    'css3_mixins',
    'ribs/ribs';


// Generic Styles

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfic {
    @clearfix;
}


// Site Structure

nav {
    padding: 15px 0;
    background-color: #ececec;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}


// Login Page

.login-form {
    margin-bottom: 5px;

    .field {
        margin-right: 10px;
    }

    label,
    input {
        margin-bottom: 0;
    }

    input[type='text'],
    input[type='password']{
        width: 170px;
    }

    .login {
        margin-top: 21px;
    }
}
