{% extends "logged_in.html" %}

{% block moderators_active %}active{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="four columns alpha">
            <ul class="sidebar-menu">

                <li><a href="{% url 'accounts:moderators' %}" class="{% block invite_member_active %}{% endblock %}">Invite a New Member</a></li>
                <li><a href="{% url 'accounts:review-applications' %}" class="{% block review_member_active %}{% endblock %}">Review Membership Applications</a></li>
                <li><a href="{% url 'accounts:review-abuse' %}" class="{% block review_abuse_active %}{% endblock %}">Review Abuse Reports</a></li>
                <li><a href="{% url 'accounts:logs' %}" class="{% block logs_active %}{% endblock %}">View Logs</a></li>
            </ul>
        </div>

        <div class="twelve columns omega">
            {% block moderators_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
