{% extends "moderation/moderators_base.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}


{% block page_title %}{% trans "Invite a New Member" %}{% endblock %}
{% block invite_member_active %}active{% endblock %}


{% block moderators_content %}
    <form action="{% url 'moderation:invite-user' %}" method="post" class="horizontal-form">
        <fieldset>
            <legend>{% trans "Invite a New Member" %}</legend>
            <p class="intro">{% trans "Please provide the details of the member you wish to invite.  Once they have accepted your invitatation, they will be able to edit the details provided here." %}</p>
            {% csrf_token %}
            {{ invitation_form.form_type }}
            <dl>
                <dt>{% trans "First Name" %}</dt>
                <dd>
                    {{ invitation_form.first_name }}
                    {% if invitation_form.first_name.errors %}
                        <span class="form-error">
                            {% for error in invitation_form.first_name.errors %}
                                <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                            {% endfor %}
                        </span>
                    {% endif %}
                </dd>
                <span class="clearfix"></span>
            </dl>
            <dl>
                <dt>{% trans "Last Name" %}</dt>
                <dd>
                    {{ invitation_form.last_name }}
                    {% if invitation_form.last_name.errors %}
                        <span class="form-error">
                            {% for error in invitation_form.last_name.errors %}
                                <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                            {% endfor %}
                        </span>
                    {% endif %}
                </dd>
                <span class="clearfix"></span>
            </dl>
            <dl>
                <dt>{% trans "Email" %}</dt>
                <dd>
                    {{ invitation_form.email }}
                    {% if invitation_form.email.errors %}
                        <span class="form-error">
                            {% for error in invitation_form.email.errors %}
                                <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                            {% endfor %}
                        </span>
                    {% endif %}
                    {% if invitation_form.non_field_errors %}
                        <span class="form-error">
                            {% for error in invitation_form.non_field_errors %}
                                <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                            {% endfor %}
                        </span>
                    {% endif %}
                </dd>
                <span class="clearfix"></span>
            </dl>
            <dl>
                <dt></dt>
                <dd>
                    <input type="submit" value="{% trans 'Invite New Member' %}" class="button"/>
                </dd>
                <span class="clearfix"></span>
            </dl>
        </fieldset>
    </form>
    {% if pending %}
        <h3 class="lined">{% trans "Invitations pending activation" %}</h3>
        <!-- TODO: How to translate this? -->
        <p class="intro">{{ pending.count|apnumber|title }} member{{ pending.count|pluralize }} you have invited {{ pending.count|pluralize:"has,have" }} not yet activated their account:</p>
        <table class="invitation-table">
            <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Email Address" %}</th>
                    <th>{% trans "Date Invited" %}</th>
                    <th class="actions">{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for user in pending %}
                <tr>
                    <td>{{ user.get_full_name|title }}</td>
                    <td class="email"><span class="wrap">{{ user.email }}</span></td>
                    <td class="date">{{ user.date_joined|date:"M d, y" }}</td>
                    <td class="actions">
                        <a href="#" class="table-link first resend-link" data-user="{{ user.id }}" data-email="{{ user.email }}">{% trans "Resend Invitation" %}</a>
                        <a href="#" class="table-link revoke-link" data-user="{{ user.id }}" data-name="{{ user.get_full_name|title }}" data-email="{{ user.email }}">{% trans "Revoke Invitation" %}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="dialog" id="reinvite-member-dialog" title="Resend Invitation">
            <form action="{% url 'moderation:reinvite-user' %}" method="post" class="reinvite-member-form">
                {% csrf_token %}
                {{ reinvitation_form.as_p }}
                <input type="submit" value="{% trans 'Resend Invitation' %}" class="button"/>
            </form>
        </div>

        <div class="dialog" id="revoke-member-dialog" title="Revoke Invitation">
            <form action="{% url 'moderation:revoke-invitation' %}" method="post" class="revoke-invitation-form">
                {% csrf_token %}
                <label class="revoke-label">
                    {{ revocation_form.confirm }}
                    Revoke my invitation to <span class="name">this user</span> at <span class="email">this email address</span>
                </label>
                <p class="intro">This action will also remove logs related to inviting this user.</p>

                {{ revocation_form.user_id }}
                <input type="submit" value="{% trans 'Revoke Invitation' %}" class="button" />
            </form>
        </div>


    {% endif %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/invite-member.js' %}">
{% endblock %}
