{% extends "moderation/moderators_base.html" %}
{% load i18n %}


{% block page_title %}{% trans "Invite a New Member" %}{% endblock %}
{% block invite_member_active %}active{% endblock %}


{% block moderators_content %}
    <h3>Invite a New Member</h3>
    <form action="" method="post">
        {% csrf_token %}
        {{ invitation_form.as_p }}
        <input type="submit" value="{% trans 'Invite New Member' %}" class="button" />
    </form>

    <hr/>

    {% if pending %}
        <h3>{% trans "Invitations pending activation" %}</h3>
        <table>
            <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Email Address" %}</th>
                    <th>{% trans "Date Invited" %}</th>
                    <th>{% trans "Actions" %}</th>

                </tr>
            </thead>
            <tbody>
                {% for user in pending %}
                <tr>
                    <td>{{ user.get_full_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.date_joined }}</td>
                    <td>
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ user.reinvitation_form.as_p }}
                            <input type="submit" value="{% trans 'Resend Invitation' %}" class="button" />
                        </form>

                        <hr/>

                         <form action="" method="post">
                            {% csrf_token %}
                            {{ user.revocation_form.as_p }}
                            <input type="submit" value="{% trans 'Revoke Invitation' %}" class="button" />
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
