{% extends "moderation/moderators_base.html" %}

{% block page_title %}Invite a New Member{% endblock %}
{% block invite_member_active %}active{% endblock %}


{% block moderators_content %}
    <h3>Invite a New Member</h3>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Invite New Member" class="button" />
    </form>


    {% if pending %}
        <h3>Invitations pending activation</h3>
        <table>
            <thead>
                <tr>
                    <th>Email Address</th>
                    <th>Date Invited</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>
                {% for user in pending %}
                <tr>
                    <td>{{ user.email }}</td>
                    <td>{{ user.date_joined }}</td>
                    <td>
                        <a href="{% url 'moderators:resend-invitation' user.id %}"><i class="fa fa-envelope-o"></i> Resend Invitation</a><br/>
                        <a href="#"><i class="fa fa-trash-o"></i> Revoke Invitation</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
