{% extends "moderation/moderators_base.html" %}
{% load i18n %}

{% block page_title %}{% trans "View Logs" %}{% endblock %}
{% block logs_active %}active{% endblock %}

{% block moderators_content %}
    <h3 class="lined">{% trans "View Logs" %}</h3>

    <form action="" method="get" class="filter-logs">
        <div class="filter-input first">
            <label for="id_msg_type">Log Type</label>
            {{ form.msg_type }}
        </div>
        <div class="filter-input">
            <label for="id_period">Period</label>
            {{ form.period }}
        </div>
        <div class="custom-date">
            {{ form.start_date }}
            <label><i class="fa fa-arrow-right"></i></label>
            {{ form.end_date }}

            {% if form.non_field_errors %}
                <br />
                <span class="form-error">
                    {% for error in form.non_field_errors %}
                        <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                    {% endfor %}
                </span>
            {% endif %}
        </div>
        <div class="clearfix"></div>
        <input type="submit" class="button filter-submit" value="{% trans 'Filter Logs' %}" />
    </form>
    {% if logs %}
        <table class="responsive logs-table">
            <thead>
                <tr>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Type" %}</th>
                    <th>{% trans "Comment" %}</th>
                    <th>{% trans "Logged against (user)" %}</th>
                    <th class="logged-by">{% trans "Logged by (moderator)" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr>
                        <td class="date">
                            {{ log.msg_datetime|date:"M d, Y" }}
                        </td>
                        <td class="type">{{ log.get_msg_type_display }}</td>
                        <td class="comments">
                            <span class="desktop">
                                {{ log.comment|linebreaksbr|truncatewords_html:20 }}
                                {% if log.comment|wordcount > 21 %}
                                    <a class="read-more" href="#" data-id="{{ log.id }}">Read More</a>
                                {% endif %}
                            </span>
                            <span class="mobile">
                                {{ log.comment|linebreaksbr }}
                            </span>
                        </td>
                        <td>{{ log.pertains_to.get_full_name|title }}</td>
                        <td class="logged-by">{{ log.logged_by.get_full_name|title }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="intro">{% trans "Sorry there are no moderation events of this type logged in the system." %}</p>
    {% endif %}


    {% for log in logs %}
        {% if log.comment|wordcount > 21 %}
            <div class="comments-dialog dialog" id="dialog{{ log.id }}" title="Comments for {{ log.get_msg_type_display }} Log from {{ log.msg_datetime|date:'M d, Y' }}">
                <div class="comments">
                    {{ log.comment|linebreaksbr }}
                </div>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}
