{% extends "moderation/moderators_base.html" %}
{% load i18n %}


{% block page_title %}{% trans "View Logs" %}{% endblock %}
{% block logs_active %}active{% endblock %}


{% block moderators_content %}
    <h3 class="lined">{% trans "View Logs" %}</h3>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="button" value="{% trans 'Filter Logs' %}" />
    </form>
    {% if logs %}
        <table class="logs-table">
            <thead>
                <tr>
                    <th>{% trans "Date/Time" %}</th>
                    <th>{% trans "Type" %}</th>
                    <th>{% trans "Comment" %}</th>
                    <th>{% trans "Logged against (user)" %}</th>
                    <th>{% trans "Logged by (moderator)" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr>
                        <td>{{ log.msg_datetime }}</td>
                        <td>{{ log.get_msg_type_display }}</td>
                        <td>{{ log.comment|linebreaksbr }}</td>
                        <td>{{ log.pertains_to.get_full_name }}</td>
                        <td>{{ log.logged_by.get_full_name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="intro">{% trans "There are no moderation events of this type logged in the system." %}</p>
    {% endif %}

{% endblock %}
