{% extends "logged_in.html" %}
{% load i18n %}


{% block moderators_active %}active{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="four columns alpha">
            <ul class="sidebar-menu">

                <li>
                    <a href="{% url 'moderation:moderators' %}" class="{% block invite_member_active %}{% endblock %}">
                        {% trans "Invite a New Member" %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'moderation:review-applications' %}" class="{% block review_member_active %}{% endblock %}">
                        {% trans "Review Membership Applications" %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'moderation:review-abuse' %}" class="{% block review_abuse_active %}{% endblock %}">
                        {% trans "Review Abuse Reports" %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'moderation:logs' %}" class="{% block logs_active %}{% endblock %}">
                        {% trans "View Logs" %}
                    </a>
                </li>
            </ul>
        </div>

        <div class="twelve columns omega">
            {% block moderators_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
