{% extends "logged_in.html" %}
{% load i18n %}

{% block page_title %}{% trans "Report Abuse" %}{% endblock %}

{% block page_content %}
    <div class="container">
        <form action="" method="post" class="horizontal-form">
            <fieldset>
                <legend>{% trans "Log an abuse report against" %} {{ logged_against.get_full_name|title }}</legend>
                <p class="intro">
                    {% blocktrans with user=logged_against.get_full_name|title site=request.site.name trimmed %}
                        Describe the complaint you wish to make against {{ user }}, providing as much relevant information as you can.<br/>
                        Based on the information provided, a {{ site }} moderator will either dismiss the report, warn the user, or ban the user from their account.
                    {% endblocktrans %}
                </p>

                <p class="intro">
                    {% blocktrans with site=request.site.name trimmed %}
                        If your complaint is about a {{ site }} moderator, they will not notified, nor will they be able to view this report.
                    {% endblocktrans %}
                </p>
                {% csrf_token %}

                <!-- Hidden Fields -->
                {{ form.logged_by }}
                {{ form.logged_against }}

                <dl>
                    <dt>{% trans "Comments" %}</dt>
                    <dd>
                        {{ form.comments }}
                        {% if form.comments.errors %}
                            <span class="form-error">
                                {% for error in form.comments.errors %}
                                    <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                                {% endfor %}
                            </span>
                        {% endif %}
                    </dd>
                    <span class="clearfix"></span>
                </dl>
                <dl>
                    <dt></dt>
                    <dd>
                        <input type="submit" value="{% trans 'Report Abuse' %}" class="button"/>
                    </dd>
                    <span class="clearfix"></span>
                </dl>
            </fieldset>
        </form>
    </div>
{% endblock %}
