{% extends "moderation/moderators_base.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}


{% block page_title %}{% trans "Review Membership Applications" %}{% endblock %}
{% block review_member_active %}active{% endblock %}

{% block moderators_content %}
    <h3 class="lined">{% trans "Review Membership Applications" %}</h3>

    {% if pending %}
        <p class="intro">There {{ pending.count|pluralize:"is,are" }} {{ pending.count|apnumber }} pending member application{{ pending.count|pluralize }}:</p>
        <table class="review-app-table">
            <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Email Address" %}</th>
                    <th>{% trans "Date Requested" %}</th>
                    <th>{% trans "Application Comments" %}</th>
                    <th class="actions">{% trans "Actions" %}</th>

                </tr>
            </thead>
            <tbody>
                {% for user in pending %}
                <tr>
                    <td>{{ user.get_full_name|title }}</td>
                    <td class="email"><span class="wrap">{{ user.email }}</span></td>
                    <td class="date">{{ user.applied_datetime|date:"M d, y" }}</td>
                    <td class="comments">
                        <span class="desktop">
                            {{ user.application_comments|linebreaksbr|truncatewords_html:20 }}
                            {% if user.application_comments|wordcount > 21 %}
                                <a class="read-more" href="#" data-id="{{ user.id }}">Read More</a>
                            {% endif %}
                        </span>
                        <span class="mobile">
                            {{ user.application_comments|linebreaksbr }}
                        </span>
                    </td>
                    <td class="actions">
                        <a href="#" class="table-link first decision-link" data-user="{{ user.id }}" data-decision="APP">Approve Application</a>
                        <a href="#" class="table-link decision-link" data-user="{{ user.id }}" data-decision="REJ">Reject Application</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="dialog" id="review-application-dialog">
            <form action="" method="post" class="review-application-form">
                {% csrf_token %}
                {{ form.user_id }}
                {{ form.decision }}
                <p>
                    <label>Comments</label>
                    {{ form.comments }}
                    {% if form.comments.errors %}
                        <span class="form-error">
                            {% for error in form.comments.errors %}
                                <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                            {% endfor %}
                        </span>
                    {% endif %}
                </p>
                <input type="submit" value="{% trans 'Moderate User Application' %}" class="button" />
            </form>
        </div>
    {% else %}
        <div class="">
            <p class="intro">{% trans "There are currently no pending membership applications in the system." %}</p>
        </div>
    {% endif %}


    {% for user in pending %}
        {% if user.application_comments|wordcount > 21 %}
            <div class="comments-dialog dialog" id="dialog{{ user.id }}" title="Application comments for {{ user.get_full_name|title }}">
                <div class="comments">
                    {{ user.application_comments|linebreaksbr }}
                </div>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/review-application.js' %}">
{% endblock %}
