{% extends "moderation/moderators_base.html" %}
{% load humanize i18n %}

{% block page_title %}{% trans "Review Abuse Reports" %}{% endblock %}
{% block review_abuse_active %}active{% endblock %}

{% block moderators_content %}

    {% include "messages.html" %}

    <h3 class="lined">{% trans "Review Abuse Reports" %}</h3>

    {% if reports %}
        <p class="intro">{% trans "Review abuse reports currently logged in the system.  User's emails are provided in the event that you need to gather additional information to make an appropriate ruling - please only use them for this purpose." %}</p>
        <p class="intro">{% trans "To help moderators make informed decisions (especially in the context of recurring reports), previous warnings are displayed on the accused user." %}</p>

        <table class="responsive abuse-table">
            <thead>
                <tr>
                    <th>{% trans "Date Lodged" %}</th>
                    <th>{% trans "Complaint made against" %}</th>
                    <th>{% trans "Complaint made by" %}</th>
                    <th>{% trans "Comments" %}</th>
                    <th class="actions">{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for report in reports %}
                    <tr>
                        <td class="date">{{ report.logged_datetime|date:"M d, Y" }}</td>
                        <td class="email">
                            {{ report.logged_against.get_full_name|title }}<br/>

                            <a href="mailto:{{ report.logged_against.email }}" class="wrap">{{ report.logged_against.email }}</a>
                            {% if report.prior_warnings %}
                                <a href="#" class="show-warnings" data-user="{{ report.logged_against.id }}">
                                    {% blocktrans count c=report.prior_warnings|length with count=report.prior_warnings|length|apnumber|title trimmed %}
                                        {{ count }} prior warning
                                    {% plural %}
                                        {{ count }} prior warnings
                                    {% endblocktrans %}
                                </a>
                            {% endif %}
                        </td>
                        <td class="email">
                            {{ report.logged_by.get_full_name|title }}<br/>
                            <a href="mailto:{{ report.logged_by.email }}" class="wrap">{{ report.logged_by.email }}</a>
                        </td>
                        <td class="comments">
                            <span class="desktop">
                                {{ report.abuse_comment|linebreaksbr|truncatewords_html:20 }}
                                {% if report.abuse_comment|wordcount > 21 %}
                                    <a class="read-more" href="#" data-id="{{ report.id }}">{% trans "Read More" %}</a>
                                {% endif %}
                            </span>
                            <span class="mobile">
                                {{ report.abuse_comment|linebreaksbr }}
                            </span>
                        </td>
                        <td class="actions">
                            <a href="#" class="table-link decision-link" data-report="{{ report.id }}" data-decision="DISMISS" data-title="{% trans 'Dismiss Abuse Report' %}">{% trans "Dismiss Report" %}</a>
                            <a href="#" class="table-link decision-link" data-report="{{ report.id }}" data-decision="WARN" data-title="{% trans 'Warn User' %}">{% trans "Warn User" %}</a>
                            <a href="#" class="table-link decision-link last" data-report="{{ report.id }}" data-decision="BAN" data-title="{% trans 'Ban User' %}">{% trans "Ban User" %}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


        {% for report in reports %}
            <!-- Comments dialog -->
            {% if report.abuse_comment|wordcount > 21 %}
                <div class="comments-dialog dialog" id="dialog{{ report.id }}" title="{% blocktrans with user=report.logged_against.get_full_name|title %}Comments for report logged against {{ user }}{% endblocktrans %}">
                    <div class="comments">
                        {{ report.abuse_comment|linebreaksbr }}
                    </div>
                </div>
            {% endif %}


            <!-- Prior Warnings Modal-->
            {% if report.prior_warnings %}

                <div class="warning-dialog dialog" id="dialog{{ report.logged_against.id }}" title="
                    {% blocktrans count c=report.prior_warnings|length with name=report.logged_against.get_full_name|title count=report.prior_warnings|length|apnumber|title trimmed %}
                        {{ count }} prior warning for {{ name }}
                    {% plural %}
                        {{ count }} prior warnings for {{ name }}
                    {% endblocktrans %}
                ">

                    {% for warning in report.prior_warnings %}
                        <div class="warning {% if forloop.last %}last{% endif %}">
                            <h4 class="{% if forloop.first %}first{% endif %}">{% trans "Abuse Report Details" %}:</h4>
                            {{ warning.abuse_comment|linebreaksbr }}
                            <h4>{% trans "Moderator Comment" %}:</h4>
                            {{ warning.moderator_comment|linebreaksbr }}<br/>
                            <h4>{% trans "Meta" %}:</h4>
                            <p class="meta">
                                {% blocktrans with date=warning.logged_datetime|date:"M d, Y" reporting_user=warning.logged_by.get_full_name|title trimmed %}
                                    Report made on <em>{{ date }}</em> by <em>{{ reporting_user }}</em>
                                {% endblocktrans %}
                                <br/>
                                {% blocktrans with date=warning.decision_datetime|date:"M d, Y" moderator=warning.moderator.get_full_name|title trimmed %}
                                    Warning issued on <em>{{ date }}</em> by <em>{{ moderator }}</em>
                                {% endblocktrans %}
                            </p>
                        </div>
                    {% endfor %}

                </div>
            {% endif %}
        {% endfor %}

        <!-- Form dialog -->
        <div id="review-abuse-dialog" class="dialog">
            <form action="" method="post" class="review-abuse-form" data-parsley-validate>
                {% csrf_token %}
                {{ form.report_id }}
                {{ form.decision }}
                <p>
                    <label>{% trans "Comments" %}</label>
                    {{ form.comments }}
                    {% if form.comments.errors %}
                        <span class="form-error">
                            {% for error in form.comments.errors %}
                                <span><i class="fa fa-exclamation-triangle"></i>{{ error|escape }}</span>
                            {% endfor %}
                        </span>
                    {% endif %}
                </p>
                <input type="submit" value="{% trans 'Moderate Abuse Report' %}" class="button" />
            </form>
        </div>

    {% else %}
        <p class="intro">{% trans "There are currently no abuse reports logged in the system" %}.</p>
    {% endif %}

{% endblock %}
