{% extends "moderation/moderators_base.html" %}

{% block page_title %}Review Abuse Reports{% endblock %}
{% block review_abuse_active %}active{% endblock %}


{% block moderators_content %}
    <h2>Review Abuse Reports</h2>

    {% for report in reports %}
        <div class="">
            <p>{{ report.logged_against.get_full_name }}</p>
            <p>{{ report.logged_by.get_full_name }}</p>
            <p>{{ report.logged_datetime }}</p>
            <p>{{ report.abuse_comment }}</p>
            <p><strong>Prior Warnings: {{ report.prior_warnings|length }}</strong></p>
            {% for warning in report.prior_warnings %}
                <p>Abuse Report Details: {{ warning.abuse_comment }}</p>
                <p>Moderator Comment:{{ warning.moderator_comment }}</p>
                <p>Warning issued on: {{ warning.decision_datetime }}</p>

            {% endfor %}

            <form action="" method="post">
                {% csrf_token %}
                {{ report.moderation_form.as_p }}
                <input type="submit" value="Moderate Abuse Report" class="button" />
            </form>
        </div>
    {% endfor %}


{% endblock %}
