{% extends "moderation/moderators_base.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}


{% block page_title %}{% trans "Review Membership Applications" %}{% endblock %}
{% block review_member_active %}active{% endblock %}

{% block moderators_content %}
    <h3 class="lined">{% trans "Review Membership Applications" %}</h3>

    {% if pending %}
        <p class="intro">There {{ pending.count|pluralize:"is,are" }} {{ pending.count|apnumber }} pending member application{{ pending.count|pluralize }}:</p>
        <table class="review-app-table">
            <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Email Address" %}</th>
                    <th>{% trans "Date Requested" %}</th>
                    <th>{% trans "Application Comments" %}</th>
                    <th>{% trans "Actions" %}</th>

                </tr>
            </thead>
            <tbody>
                {% for user in pending %}
                <tr>
                    <td>{{ user.get_full_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.applied_datetime }}</td>
                    <td>{{ user.application_comments|linebreaksbr }}</td>
                    <td>
                        <a href="#" class="table-link first decision-link" data-user="{{ user.id }}" data-decision="APP">Approve Application</a>
                        <a href="#" class="table-link decision-link" data-user="{{ user.id }}" data-decision="REJ">Reject Application</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="dialog" id="review-application-dialog">
            <form action="" method="post" class="review-application-form">
                {% csrf_token %}
                {{ moderation_form.as_p }}
                <input type="submit" value="{% trans 'Moderate User Application' %}" class="button" />
            </form>
        </div>
    {% else %}
        <div class="">
            <p class="intro">{% trans "There are currently no pending membership applications in the system." %}</p>
        </div>
    {% endif %}

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/review-application.js' %}">
{% endblock %}
