{% extends 'emails/email_base.html' %}
{% load i18n %}


{% autoescape off %}
    {% block email_content %}
        {% blocktrans with name=logged_against.get_full_name site=site_name trimmed %}
            <p>You have been sent this email as you logged an abuse report against {{ name }} at {{ site }}.</p>
            <p>Your report has been reviewed by a {{ site }} moderator, and in this instance, they have made the decision to ban {{ name }} from {{ site }}.</p>
        {% endblocktrans %}

        <p>{% trans "Please find their comments below" %}:</p>
        <blockquote>
            {{ comments }}
        </blockquote>
    {% endblock %}

    {% block email_footer %}
        {% blocktrans with site=site_name trimmed %}
            You received this email because you logged an abuse report at {{ site }}.
        {% endblocktrans %}
    {% endblock %}
{% endautoescape %}
