{% extends 'emails/email_base.html' %}
{% load i18n %}

{% autoescape off %}
    {% block header_image %}
        {{ protocol }}://{{ domain }}{{ site.config.email_header.url }}
    {% endblock %}

    {% block header_alt %}
        {{ site.name }} Email Header
    {% endblock %}

    {% block intro %} <!-- Override default intro as we are getting user.first_name, not recipient.first_name -->
        {% blocktrans with name=user.first_name trimmed %}
            <p>Hi {{ name }},</p>
        {% endblocktrans %}
    {% endblock %}

    {% block email_content %}
        <p>
            {% blocktrans with site=site.name trimmed %}
                You have been sent this email because you (or someone pretending to be you) made a request to reset your password at {{ site }}.
            {% endblocktrans %}
        </p>
        <p>{% trans "If you did not make this request, or you do not wish to change your current password, you may safely ignore this email." %}</p>
        <p>{% trans "If you wish to reset your current password, please visit the following page" %}:</p>
        <p>
            <a href="{{ protocol }}://{{ domain }}{% url 'accounts:password-reset-confirm' uidb64=uid token=token %}" style="color: #{{ link_color }};">
                {{ protocol }}://{{ domain }}{% url 'accounts:password-reset-confirm' uidb64=uid token=token %}
            </a>
        </p>
    {% endblock %}

    {% block signoff %}
        {% blocktrans with site=site.name trimmed %}
            <p>
                Thanks,<br/>
                The {{ site }} team
            </p>
        {% endblocktrans %}
    {% endblock %}

    {% block email_footer %}
        {% blocktrans with site=site.name trimmed %}
            You received this email because you are a registered user at {{ site }}.
        {% endblocktrans %}
    {% endblock %}
{% endautoescape %}

