{% extends 'emails/email_base.html' %}
{% load i18n %}

{% autoescape off %}
    {% block email_content %}
        {% blocktrans with site=site_name trimmed %}
            <p>You have been sent this email as an abuse report has been logged against you at {{ site }}.</p>
            <p>This report has been reviewed by a {{ site }} moderator, and in this instance, they have made the decision to ban you from future use of {{ site }}.</p>
        {% endblocktrans %}
        <p><strong>{% trans "Subsequently, your account has been deactivated." %}</strong></p>
        <p>{% trans "Please find the moderator's comments below:" %}</p>
        <blockquote>
            {{ comments }}
        </blockquote>
        {% blocktrans with email=contact_email trimmed %}
            <p>If you wish to appeal this decision, please contact <a href="mailto:{{ email }}">{{ email }}</a>.</p>
        {% endblocktrans %}
    {% endblock %}

    {% block email_footer %}
        {% blocktrans with site=site_name trimmed %}
            You received this email because an abuse report has been logged against you at {{ site }}.
        {% endblocktrans %}
    {% endblock %}
{% endautoescape %}
