{% extends 'emails/email_base.html' %}
{% autoescape off %}

{% block email_content %}
    <p>You have been sent this email as you logged an abuse report against {{ logged_against.get_full_name }} at {{ site_name }}.</p>
    <p>Your report has been reviewed by a {{ site_name }} moderator, and in this instance, they have made the decision to dismiss the report.</p>
    <p>Please find their comments below:</p>
    <blockquote>
        {{ comments }}
    </blockquote>

    <p>If you wish to appeal this decision, please contact <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.</p>
{% endblock %}

{% block email_footer %}
    You received this email because you are a moderator at {{ site_name }}.
{% endblock %}

{% endautoescape %}
