{% extends 'emails/email_base.html' %}
{% autoescape off %}

{% block email_content %}
    <p>You have been sent this email as an abuse report has been logged against you at {{ site_name }}.</p>
    <p>This report has been reviewed by a {{ site_name }} moderator, and in this instance, they have made the decision to issue a formal warning.</p>
    <p>This warning will be stored against your profile and flagged in the event of another complaint, where a moderator may choose to ban you from the site.</p>
    <p>Please find the moderator's comments below:</p>
    <blockquote>
        {{ comments }}
    </blockquote>
    <p>If you wish to appeal this decision, please email <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.</p>
{% endblock %}

{% block email_footer %}
    You received this email because an abuse report has been logged against you at {{ site_name }}.
{% endblock %}

{% endautoescape %}
