{% extends 'emails/email_base.html' %}
{% load i18n %}

{% autoescape off %}
    {% block email_content %}
        {% blocktrans with url=url site=site_name trimmed %}
            <p>You have been sent this email as a new abuse report has been registered at {{ name }}.</p>
            <p>To review this report, please visit the <a href="{{ url }}">review abuse reports page</a> on your moderation dashboard.</p>
        {% endblocktrans %}
    {% endblock %}

    {% block email_footer %}
        {% blocktrans with site=site_name trimmed %}
            You received this email because you are a moderator at {{ site }}.
        {% endblocktrans %}
    {% endblock %}
{% endautoescape %}
