{% extends 'emails/email_base.html' %}
{% load i18n %}

{% autoescape off %}
    {% block email_content %}
        {% blocktrans with url=url site=site_name trimmed %}
            <p>You have been sent this email as a new account application has be registered at {{ site }}.</p>
            <p>To view, approve or reject this application, please visit the review membership applications page here: <a href="{{ url }}" style="color: #{{ link_color }};">{{ url }}</a>.</p>
        {% endblocktrans %}
    {% endblock %}

    {% block email_footer %}
        {% blocktrans with site=site_name trimmed %}
            You received this email because you are a moderator at {{ site }}.
        {% endblocktrans %}
    {% endblock %}
{% endautoescape %}
