{% extends 'emails/email_base.html' %}
{% load i18n %}

{% autoescape off %}
    {% block email_content %}
        {% blocktrans with site=site_name email=contact_email trimmed %}
            <p>Unfortunately, your application for an account at {{ site }} was not successful.</p>
            <p>If you wish to appeal this decision, please email <a href="mailto:{{ email }}" style="color: #{{ link_color }};">{{ email }}</a>.</p>
        {% endblocktrans %}
    {% endblock %}

    {% block email_footer %}
        {% blocktrans with site=site_name trimmed %}
            You received this email because you applied for a {{ site }} account.
        {% endblocktrans %}
    {% endblock %}
{% endautoescape %}
