{% load flatpages i18n static %}
{% get_flatpages as flatpages %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block page_title %}{% endblock %} | {{ request.site.name }}</title>
        <meta name="viewport" content="width=device-width">

        <link href="http://fonts.googleapis.com/css?family=Cantarell:400,400italic,700,700italic|Bree+Serif" rel="stylesheet" type="text/css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/stylesheets/screen.css' %}">

        {% block extra_css %}{% endblock %}

        <script src="{% static 'js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p>
                {% blocktrans trimmed %}
                    You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.
                {% endblocktrans %}
            </p>
        <![endif]-->

        <div class="wrapper">
            <div class="messages">
                <div class="container">
                    {% block messages %}
                    {% endblock %}
                </div>
            </div>

            <header>
                <div class="container header-container">
                    <a href="/" class="pull-left app-title">
                        {% if request.site.config.logo %}
                            <img src="{{ MEDIA_URL }}{{ request.site.config.logo }}" alt="{{ request.site.name }}" title="{{ request.site.name }}" />
                        {% else %}
                            {{ request.site.name }}
                        {% endif %}
                    </a>
                    <div class="pull-right">
                        {% block mobile_nav_btn %}{% endblock %}
                        {% block nav_content %}
                        {% endblock %}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </header>

            {% block content %}{% endblock %}

            <div class="push"></div>
        </div>

        <footer class="footer">
            <div class="container">
                <p class="pull-left">
                    <!-- TODO: add contributors file -->
                    {% blocktrans %}
                        <span>Made with <i class="fa fa-heart"></i> by <a href="http://twitter.com/nlhkabu">nlh</a> and <a href="#">contributors</a>.</span>
                    {% endblocktrans %}
                    <span><a href="">{% trans "Fork me on Github" %}.</a></span>
                </p>
                <p class="pull-right">
                    {% for page in flatpages %}
                        <span><a href="{{ page.url }}">{{ page.title }}</a></span>
                    {% endfor %}
                </p>
                <div class="clearfix"></div>
            </div>
        </footer>

        <!-- Load Extra JS  -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-1.10.1.min.js' %}"><\/script>')</script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
        <script src="{% static 'js/vendor/jquery.dialogOptions.js' %}"></script>
        <script>
            window.ParsleyConfig = {
              errorsWrapper: '<span class="parsley-form-error"></span>',
              errorTemplate: '<span></span>'
            };
        </script>
        <script src="{% static 'js/vendor/parsley.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

        {% block extra_js %}{% endblock %}

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
