{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block page_title %}{% endblock %} | Connect</title><!-- TODO: replace this with content from admin-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{% static 'css/stylesheets/vendor/font-awesome.css' %}" >
        <link rel="stylesheet" href="{% static 'css/stylesheets/screen.css' %}">

        {% block extra_css %}{% endblock %}

        <script src="{% static 'js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            {% blocktrans %}
                <p>
                    You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser to improve your experience.
                </p>
            {% endblocktrans %}
        <![endif]-->

        <div class="wrapper">
            <header>
                <div class="container">
                    <a href="/" class="pull-left app-title">Connect</a><!-- TODO: replace this with content from admin-->
                    <div class="pull-right">
                        {% block nav_content %}
                        {% endblock %}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </header>

            {% block content %}{% endblock %}

            <div class="push"></div>
        </div>

        <footer class="footer">
            <div class="container">
                <p class="pull-left">
                    {% blocktrans %}
                        <span>Made with <i class="fa fa-heart"></i> by <a href="http://twitter.com/nlhkabu">nlh</a>, other names here.</span>
                        <a href="">Fork me on Github.</a>
                    {% endblocktrans %}
                </p>
                <p class="pull-right">
                    <a href="">{% trans "Privacy Policy" %}</a>
                    <a href="">{% trans "Code of Conduct" %}</a>
                </p>
                <div class="clearfix"></div>
            </div>
        </footer>

        <!-- Load Extra JS  -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-1.10.1.min.js' %}"><\/script>')</script>

        <script src="{% static 'js/vendor/jquery-ui-1.10.4.custom.min.js' %}"></script>

        {% block extra_js %}{% endblock %}

        <script src="{% static 'js/main.js' %}"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>


    </body>
</html>
