{% extends "base.html" %}
{% load i18n %}


{% block mobile_nav_btn %}
    <a href="#" class="mobile-icon pull-right"><i class="fa fa-bars"></i> Menu</a>
{% endblock %}

{% block nav_content %}
    <nav class="main">
        <a href="{% url 'dashboard' %}" class="{% block dashboard_active %}{% endblock %}"><i class="fa fa-home"></i></a>
        {% if perms.accounts.access_moderators_section %}
            <a href="{% url 'moderation:moderators' %}" class="{% block moderators_active %}{% endblock %}">{% trans "Moderators" %}</a>
        {% endif %}
        <a href="{% url 'accounts:profile-settings' %}" class="{% block myaccount_active %}{% endblock %}">{% trans "My Account" %}</a>
        <a href="{% url 'accounts:logout' %}">{% trans "Logout" %}</a>
    </nav>
    <div class="clearfix"></div>
{% endblock %}


{% block content %}
    <div class="connect-banner">
        <div class="container">
            <div>
                <h1>{{ site.name }}</h1>
                <h2>{{ site.tagline }}</h2>
            </div>
            {% block tabs %}{% endblock %}
        </div>
    </div>

    <div class="page-content">
        <div class="content-container">
            {% block page_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
