{% extends "base.html" %}

{% block nav_content %}
    <nav>
        <a href="{% url 'dashboard' %}" class="{% block dashboard_active %}{% endblock %}"><i class="fa fa-home"></i></a>
        {% if perms.profiles.access_moderators_page %}
            <a href="{% url 'accounts:moderators' %}" class="{% block moderators_active %}{% endblock %}">Moderators</a>
        {% endif %}
        <a href="{% url 'accounts:profile-settings' %}" class="{% block myaccount_active %}{% endblock %}">My Account</a>
        <a href="{% url 'accounts:logout' %}">Logout</a>
    </nav>
    <div class="clearfix"></div>
{% endblock %}

{% block content %}

    <div class="connect-banner">
        <div class="container">
            <div>
                <h1>Connect</h1>
                <h2>Connect with PyLadies from around the globe!</h2>
            </div>
            {% block tabs %}{% endblock %}
        </div>
    </div>

    <div class="page-content">
        {% block page_content %}{% endblock %}
    </div>

{% endblock %}

{% block abuse %}
    <a href="">Report Abuse</a>
{% endblock %}
