{% extends "discover/dashboard.html" %}

{% block list_active %}active{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="four columns alpha filter">
            <h3>
                Refine Search
                <a href="" class="clear-filters">Clear All</a>
            </h3>

            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="button" value="Submit" />
            </form>

            <form action="" method="post">
                <fieldset>
                    <label for="">Location</label>
                    <label for="all">
                        <input type="radio" name="locationRadios" id="all" value="all" checked />
                        <span>All Members</span>
                    </label>
                    <label for="close">
                        <input type="radio" name="locationRadios" id="close" value="close" />
                        <span>Close to me</span>
                    </label>

                    <div class="close-to-me">
                        <label class="within">Within</label>
                        <input type="number" name="" value="" id="" class="tiny"/>
                        <select class="tiny">
                            <option>km</option>
                            <option>mi</option>
                        </select>
                        <button type="">apply</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="twelve columns omega">

        {% if listed_members %}
            {% for member in listed_members %}
                <!-- start card -->
                <div class="member-card">
                    <div class="member-card-content">
                        <a href="#" class="member-img toggle-member-expand"><img class="scale-with-grid" src="http://placekitten.com/150/150" alt="" title="" /></a>
                        <div class="member-details">
                            <h3><a href="#" class="toggle-member-expand">{{ member.get_full_name }}</a></h3>
                            <p><i class="fa fa-map-marker"></i> Melbourne, Australia</p> <!-- TODO -->

                            {% if member.profile.connect_preferences.all %}
                                <ul class="connect-preferences">
                                {% for preference in member.profile.connect_preferences.all %}
                                    <li class="badge">{{ preference }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}

                            {% if member.profile.get_skills %}
                                <ul class="member-skills">
                                    {% for skill in member.profile.get_skills %}
                                        <li class="badge badge-grey">{{ skill.name }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}


                            <div class="member-expand">
                                <div class="padding">
                                    <blockquote>
                                        {{ member.profile.bio|linebreaks }}
                                    </blockquote>

                                    {% if member.profile.get_skills %}
                                        <div class="skills-container">
                                            <table class="skills">
                                                <tbody>
                                            {% for skill in member.profile.get_skills %}
                                                <tr>
                                                    <td class="skill-name">{{ skill.name }}</td>
                                                    <td class="skill-ability"><div class="ability" data-value="{{ skill.percentage }}" data-description="{{ skill.proficiency }}"></div></td>
                                                </tr>
                                            {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% endif %}


                                    {% if member.userlink_set.all %}
                                        <ul class="member-links">
                                            {% for link in member.userlink_set.all %}
                                                <li>
                                                    <i class="fa {{ link.get_icon }}"></i>
                                                    <a href="{{ link.url }}">{{ link.anchor }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="member-card-footer">
                        <ul class="">
                            <li><a href="#" class="pull-right toggle-member-expand full-profile">View Full Profile</a></li>
                            <li><a href="#" class="pull-right">Connect</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end card-->
                {% endfor %}
            {% else %}
                <div class="no-results member-card">
                    <h4>Sorry!</h4>
                    <p>There are no members matching your selected search.  Please try again.</p>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}
