{% extends "discover/dashboard.html" %}
{% load endless %}
{% load i18n %}
{% load staticfiles %}
{% load gravatar %}

{% block page_title %}{% trans "Dashboard" %}{% endblock %}

{% block list_active %}active{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="four columns alpha filter">

            <ul class="sidebar-menu mobile-tab-menu">
                <li class="active">
                    <a href="{% url 'dashboard' %}">
                        <i class="fa fa-bars"></i>
                        {% trans "List View" %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'discover:map' %}">
                        <i class="fa fa-map-marker"></i>
                        {% trans "Map View" %}
                    </a>
                </li>
            </ul>

            <form action="" method="get" class="filter-form">
                {% if form.skills %}
                    <fieldset>
                        <legend>Skills/Interests</legend>
                        {% for skill in form.skills %}
                            {{ skill }}
                        {% endfor %}
                    </fieldset>
                {% endif %}

                {% if form.roles %}
                    <fieldset>
                        <legend>Roles</legend>
                        {% for role in form.roles %}
                            {{ role }}
                        {% endfor %}
                    </fieldset>
                {% endif %}

                <fieldset>
                    <legend>Location</legend>
                    <label for="all">
                        <input type="radio" name="locationRadios" id="all" value="all" checked />
                        <span>{% trans "All users" %}</span>
                    </label>
                    <label for="close">
                        <input type="radio" name="locationRadios" id="close" value="close" />
                        <span>{% trans "Close to me" %}</span>
                    </label>

                    <div class="close-to-me">
                        <label class="within">{% trans "Within" %}</label>
                        <input type="number" name="" value="" id="" class="tiny"/>
                        <select class="tiny">
                            <option>km</option>
                            <option>mi</option>
                        </select>
                        <button type="">{% trans "apply" %}</button>
                    </div>
                </fieldset>
                <input type="submit" class="button muted" value="{% trans 'Clear' %}" />
                <input type="submit" class="button" value="{% trans 'Refine Results' %}" />
            </form>
        </div>
        <div class="twelve columns omega">
            {% if listed_users %}
                {% paginate listed_users %}
                {% for user in listed_users %}
                    <!-- start card -->
                    <div class="user-card">
                        <div class="user-card-content">
                            <div class="image">
                                <a href="#" class="user-img toggle-user-expand">
                                    {% gravatar user.email 150 %}
                                </a>
                            </div>

                            <div class="user-details">
                                <h3><a href="#" class="toggle-user-expand">
                                    {{ user.first_name }}
                                    {% if user.last_name %}
                                        {{ user.last_name }}
                                    {% endif %}
                                </a></h3>
                                <p><i class="fa fa-map-marker"></i> Melbourne, Australia</p> <!-- TODO -->

                                {% if user.roles.all %}
                                    <ul class="roles">
                                    {% for role in user.roles.all %}
                                        <li class="badge">{{ role }}</li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}

                                {% if user.userskill_set.all %}
                                    <ul class="user-skills">
                                        {% for user_skill in user.userskill_set.all %}
                                            <li class="badge badge-grey">{{ user_skill.skill.name }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                                <div class="user-expand">
                                    <div class="padding">
                                        <blockquote>
                                            {{ user.bio|linebreaksbr }}
                                        </blockquote>

                                        {% if user.userskill_set.all %}
                                            <div class="skills-container">
                                                <table class="skills">
                                                    <tbody>
                                                        {% for user_skill in user.userskill_set.all %}
                                                            <tr>
                                                                <td class="skill-name">{{ user_skill.skill.name }}</td>
                                                                <td class="skill-ability">
                                                                <div class="ability" data-value="{{ user_skill.get_proficiency_percentage }}" data-description="{{ user_skill.get_proficiency_display }}"></div></td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        {% endif %}

                                        {% if user.links.all %}
                                            <ul class="user-links">
                                                {% for link in user.links.all %}
                                                    <li>
                                                        <i class="fa {{ link.get_icon }}"></i>
                                                        <a href="{{ link.url }}">{{ link.anchor }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="user-card-footer">
                            {% if user != logged_in_user %}
                                <a href="{% url 'moderation:report-abuse' user.id %}" class="report-abuse pull-left">
                                    {% trans "Report Abuse" %}
                                </a>
                            {% endif %}
                            <nav class="pull-right">
                                <a href="#" class="pull-right toggle-user-expand full-profile">{% trans "View Full Profile" %}</a>
                                {% if user != user %}
                                    <a href="#" class="pull-right">
                                        {% trans "Connect" %}
                                    </a>
                                {% endif %}
                            </nav>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- end card-->
                {% endfor %}

                <div class="pagination">
                    {% show_pages %}
                </div>

            {% else %}
                <div class="no-results user-card">
                    <h4>{% trans "Sorry!" %}</h4>
                    <p>{% trans "There are no users matching your selected search.  Please try again." %}</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
